<div *ngIf="gender">
  <h3>Body Fat Percentage a.k.a. Body Fat Index (BFI)</h3>
  <p>
    <a href="https://en.wikipedia.org/wiki/Body_fat_percentage">Body Fat Percentage</a> (BF% or BFI) is also very common to track. BF% is the total mass of fat divided by total body mass; body fat includes essential body fat and storage body fat.  The percentage of essential body fat for women is greater than that for men, due to the demands of childbearing and other hormonal functions. A number of methods are available for determining body fat percentage, such as measurement with calipers or through the use of bioelectrical impedance analysis. The accuracy of these methods and devices vary, but comparing previous measurements with later measurements is often useful and motivating.
  </p>
  <p class="bold">
    General Body Fat Percentage Categories
  </p>
  <div class="bfi-table-grid-general-percentages" *ngIf="gender == GenderEnum.Male">
    <div class="grid-item">Category</div>
    <div class="grid-item">Men BF%</div>
    <div>Essential Fat</div>
    <div>2-5 %</div>
    <div>Athletes</div>
    <div>6-13 %</div>
    <div>Fitness</div>
    <div>14-17 %</div>
    <div>Acceptable</div>
    <div>18-24 %</div>
    <div>Obese</div>
    <div>25% +</div>
  </div>

  <div class="bfi-table-grid-general-percentages" *ngIf="gender == GenderEnum.Female">
    <div class="grid-item">Category</div>
    <div class="grid-item">Women BF%</div>
    <div>Essential Fat</div>
    <div>10-13 %</div>
    <div>Athletes</div>
    <div>14-20 %</div>
    <div>Fitness</div>
    <div>21-24 %</div>
    <div>Acceptable</div>
    <div>25-31 %</div>
    <div>Obese</div>
    <div>32% +</div>
  </div>
  <div class="bfi-table-grid-calc" *ngIf="model">
    <div class="header-start">Lean Body Mass <span>pounds</span></div>
    <div>Body Fat Weight <span>pounds</span></div>
    <div>BFI %</div>

    <div>Method1</div>
    <div>{{model.leanBodyMass | number: '1.0-2'}}</div>
    <div>{{model.bodyFatWeight | number: '1.0-2'}}</div>
    <div>{{model.bfi | number: '1.0-2'}}</div>

    <div>U.S. Navy BFI (developed by Drs. Hodgdon and Beckett)</div>
    <div>{{model.leanBodyMassUSNavy | number: '1.0-2'}}</div>
    <div>{{model.bodyFatWeightUSNavy | number: '1.0-2'}}</div>
    <div>{{model.USNavyBFI | number: '1.0-2'}}</div>

    <div>Average</div>
    <div>{{model.leanBodyMassAverage | number: '1.0-2'}}</div>
    <div>{{model.bodyFatWeightAverage | number: '1.0-2'}}</div>
    <div>{{model.bfiAverage | number: '1.0-2'}}</div>
  </div>
</div>
