@import '../../variables.scss';

.bfi-table-grid-general-percentages {
  display: grid;
  grid-template-columns: auto auto;
  background-color: $light-blue;
  text-align: center;
  gap: 4px;
  padding: 10px 0;

  .grid-item {
    padding-top: 0;
    background-color: $whiten-80pct;
    font-weight: 600;
  }
}

.bfi-table-grid-calc {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: $light-blue;
  gap: 4px;
  padding: 10px 0;
  margin-top: 10px;

  div:nth-child(-n+3) {
    background-color: $whiten-80pct;
    font-weight: 600;
  }

  .header-start {
    grid-column: 2;
  }
}
