<div *ngIf="form">
  <form [formGroup]="form">
    <h1>Male Formula</h1>
    <div class="man-formula-main-container">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Height (in inches)</mat-label>
          <input matInput required type="number" formControlName="height" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Weight (in pounds)</mat-label>
          <input matInput required type="number" formControlName="weight" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Age (in years)</mat-label>
          <input matInput required type="number" formControlName="ageInYears" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Waist Length (in inches)</mat-label>
          <input matInput required type="number" formControlName="waistLength" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Neck Length (in inches)</mat-label>
          <input matInput required type="number" formControlName="neckLength" />
        </mat-form-field>
      </div>
    </div>
    <button mat-button [disabled]="!form.valid" type="button" (click)="calculate()">Calculate</button>
  </form>
  <app-bmr-notes></app-bmr-notes>
  <app-bmr-results [model]="model"></app-bmr-results>
  <app-bmi-table></app-bmi-table>
  <div *ngIf="model && model.bmi">
    BMI {{model.bmi | number: '1.0-2'}}
  </div>
  <app-bfi-table [model]="model" [gender]="maleGender"></app-bfi-table>
  <app-heart-rate-grid [model]="model"></app-heart-rate-grid>
</div>
