@import '../../variables.scss';

.bmi-table-title {
  color: $blue;

  span {
    font-weight: $bold;
  }
}

.bmi-table-grid {
  display: grid;
  grid-template-columns: auto auto;

  .header {
    grid-column: 1 / span 2;
    font-style: italic;
    font-weight: $bold;
    text-align: center;
  }
}
